<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Confidence Software Limited</title>
	<!--/*/ <th:block th:include="layouts/styles :: styles"></th:block> /*/-->
</head>
<body>
	<div class="container mt-4 card card-body">
		<!--/*/ <th:block th:include="layouts/navbar :: navbar"></th:block> /*/-->
		<div class="mx-auto"><h3>Attendance Form </h3></div>
		<form class="form-group" th:action="@{/attendance/save}" th:object="${attnobj}" method="post">
		  
		  <div class="form-group">
		    <label>Attendance Type</label>
		    <select class="form-control" name="attnremid">
		    	<option value="">Select Attendance Type</option>
		    	<option th:each="i : ${remarkslist}" th:value="${i.rem_id}" th:text="${i.remarks}" ></option>
		    </select>
		  </div>
		  <div class="form-group">
		    <label>Narration</label>
		    <textarea class="form-control" rows="3" th:field="*{narration}"></textarea>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<!--/*/ <th:block th:include="layouts/scripts :: scripts"></th:block> /*/-->
</body>
</html>